/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 62.5%;
    line-height: 1.4;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}

.row {
    margin-left: -2.5rem;
    margin-right: -2.5rem;
}

[class*='column'] {
    padding: 0 2.5rem;
}

.column-25 {
    width: 25%;
    float: left;
}

.column-33 {
    width: 33.333%;
    float: left;
}

.column-40 {
    width: 41.666%;
    float: left;
}

.column-50 {
    width: 50%;
    float: left;
}

.column-60 {
    width: 58.333%;
    float: left;
}

.column-66 {
    width: 66.666%;
    float: left;
}

.column-75 {
    width: 75%;
    float: left;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    font-size: 1.8rem;
    line-height: 1.618;
    min-width: 900px;
}

.container {
    max-width: 1060px;  
    margin-left: auto;
    margin-right: auto;
    padding: 0 2.5rem;  
}

a {
    text-decoration: none;
    color: #408C94;
    transition: 0.2s all;
}

a:hover {
    color: #29737b;
}

img {
    max-width: 100%;
}

.cta {
    background-color: #F0F0F0;
}

.hero {
    padding-top: 5rem;
    background-color: #EDF3F9;
}

.next {
    background-color: #f0f0f0;
}

.hero .text p {
    font-size: 2.1rem;
}

header {
    line-height: 9rem;
    height: 9rem;
    margin-bottom: 4rem;
}

.logo__header {
    line-height: 9rem;
    width: 18rem;
    margin: 0;
    font-size: 2.1rem;
    position: relative;
    top: -4px;
}

.bio {
    padding-top: 2rem;
}

.bio h5 {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0 20px;
    color: #666;
}

.about h3 {
    font-weight: 600;
}

p {
    margin: 0 0 2rem 0;
}

header nav a {
    margin-left: 1.6rem;
    color: #222;
}

h2 {
    font-size: 3.8rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

h3 {
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

h4 {
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.get-started {
    color: #fff;
    background-color: #408C94;
    border-radius: 2px;
    padding: 0.8rem 1.6rem;
    transition: 0.2s all;
}

.get-started:hover {
    background-color: #29737b;
}

.submit {
    color: #fff;
    background-color: #408C94;
    border-radius: 2px;
    padding: 0.8rem 1.6rem;
    border: none;
    cursor: pointer;
    transition: 0.2s all;
}

.submit:hover {
    background-color: #29737b;
}

.screen__subtitle {
    text-align: center;
    margin-top: 3.6rem;
    font-size: 1.6rem;
}

.screen__subtitle a {
    font-weight: 800;
}

.screen__image {
    max-width: 100%;
    box-shadow: 0px 4px 60px -15px #00000073, 14px 14px 50px -5px #0000002e;
    border-radius: 6px 6px 6px 6px;
}

nav {
    width: 50%;
    float: left;
    text-align: right;
}

.logo {
    width: 50%;
    float: left;
}

section {
    padding: 7rem 0;
}

.cta .section__header {
    margin-bottom: 2rem;
}

.section__header {
    margin-bottom: 5rem;
}

.features {
    background-color: #fff;
}

.footer {
    background-color: #222;
    color: #fff;
}

.footer a {
    color: #fff;
}

.footer__name {
    text-align: left;
}

.footer__location {
    text-align: center;
}

.footer__email {
    text-align: right;
}

.features p {
    font-size: 1.6rem;
    margin-bottom: 0;
}

.feature {
    margin-bottom: 3rem;
}

.feature img {
    width: 170px;
}

.row:last-child .feature {
    margin-bottom: 0;
}

.feature__text {
    padding-left: 1rem;
}

.cta .get-started {
    margin-top: 1rem;
    display: inline-block;
}

.cta .block {
    display: block;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    line-height: 1.2; 
}

h1:first-child, 
h2:first-child, 
h3:first-child, 
h4:first-child {
    margin-top: 0;
}

.contact-form {
    background-color: #fff;
    padding: 20px 20px;
}

.cta input[type="email"], .cta input[type="text"], .cta textarea {
    width: 100%;
}

.cta .submit {
    margin-top: 1.6rem;
}

.cta input[type="radio"] + label {
    margin: 0 0.8rem;
}

.cta input[type="radio"] {
    display: inline-block;
    position: relative;
    top: -3px;
}

.cta .block {
    margin: 1.6rem 0 0.6rem;
    font-weight: 500;
}